<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/bg/homepage.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="{{logoPath}}" alt="">
                <h1 class="h1-seo">Wecome to DELSOS</h1>
                <h3>Your best solution for fast delivery</h3>
                <form #trackDeliveryForm="ngForm" style="width: 60%;margin-left: 20%;">
                            <div class="form-group">
                                <input 
                                    style="height: 7vh;"
                                    type="text" 
                                    class="form-control customized-input" 
                                    placeholder="Track by Delivery Id ..."
                                    #deliveryId="ngModel"
                                    ngModel         
                                    required   
                                    name="deliveryId"
                                    minlength="24"
                                >
                                <div class="badge badge-danger" *ngIf="deliveryId.errors?.required && deliveryId.touched" >
                                    delivery Id is required
                                </div>
                                <div class="badge badge-danger" *ngIf="deliveryId.errors?.minlength && deliveryId.touched" >
                                    delivery Id must have at least 24 characters
                                </div>
                                <div class="delivery-button">
                                    <button *ngIf="delivery == null"
                                    [disabled]="trackDeliveryForm.invalid "
                                    (click)="submitTrackDelivery(trackDeliveryForm)"
                                    type="submit" 
                                    class="btn btn-primary"> 
                                    Track</button>
                                    <button *ngIf="delivery"
                                    (click)="reset(trackDeliveryForm)"
                                    class="btn btn-primary">
                                    Modify</button>
                                    <app-track-modal [delivery]="delivery" [buttonOption]="true" *ngIf="delivery"></app-track-modal>
                                </div>
                                
                            </div>
                </form>
                
            </div>
            <h6 class="category category-absolute">
                <!-- <a href="https://invisionapp.com/" target="_blank">
                    <img src="assets/img/invision-white-slim.png" class="invision-logo" />
                </a>. Coded by -->
                <a href="https://www.creative-tim.com" target="_blank">
                    <!-- <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" /> -->
                </a>.
            </h6>
        </div>
 <app-foo-ter></app-foo-ter> 
    </div>
