<div
        (keyup)="clickNextOrSubmit($event)"

        class=" page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/bg/fast-delivery.jpg)"></div>
    <div class="divider"></div>
    <div class="container scrollable-bg">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" #registerForm="ngForm">
                    <div class="header header-primary text-center">
                        <div class="logo-register-page ">

                            <img src="{{logoPath}}" alt="" width="70">
                            <h6>Sign Up</h6>
                        
                        </div>
                    </div>

            
                    <br>
                    <div class="input-group  form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.email.touched && f.email.invalid}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08" [ngClass]="{'icon-error':f.email.touched && f.email.invalid}"></i>
                            </span>
                        </div>
                        <input id="email" formControlName="email" name="email" type="text" class="form-control" placeholder="Email"
                            (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="text-danger" *ngIf="f.email.touched && f.email.invalid">
                        Please type a valid email
                    </div>
                
                    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.password.touched && f.password.invalid}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_lock-circle-open" [ngClass]="{'icon-error':f.password.touched && f.password.invalid}"></i>
                            </span>
                        </div>
                        <input formControlName="password" type="password" class="form-control" placeholder="Password"
                            (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="text-danger" *ngIf="f.password.touched && f.password.errors">
                        Password should have at least 5 characters
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.name.touched && f.name.invalid}">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08" [ngClass]="{'icon-error':f.name.touched && f.name.invalid}"></i>
                            </span>
                            </div>
                            <input
                                id="fullName"
                                    formControlName="name"
                                    name="name"
                                    type="text"
                                    class="form-control"
                                    placeholder="Full name"
                                    (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <div class="text-danger" *ngIf="f.name.touched && f.name.invalid">
                            Name should not be empty
                        </div>
                    
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true, 'bg-error':f.phoneNumber.touched && f.phoneNumber.invalid}">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons tech_mobile " [ngClass]="{'icon-error':f.phoneNumber.touched && f.phoneNumber.invalid}"></i>
                            </span>
                            </div>
                            <input
                    
                                    formControlName="phoneNumber"
                                    type="text"
                                    class="form-control"
                                    placeholder="Phone number"
                                    (focus)="focus=true" (blur)="focus=false">
                    
                        </div>
                        <div class="text-danger" *ngIf="
                         f.phoneNumber.touched&&(f.phoneNumber.errors?.required||f.phoneNumber.errors?.minlength)">
                            Phone number must have at least 8 digits
                        </div>
                        <div class="text-danger" *ngIf=" f.phoneNumber.errors?.pattern">
                            Phone must be a number
                        </div>
                    </div>
                   
                   
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-lg btn-block"
                            [disabled]="nextOrSubmitButton.disabled"
                           (click)="onChangeStep()">{{"Submit"}} </button>
                       
                    </div>
                    <div class="pull-left">
                        <h6>
                            <p>
                                Already have an account?
                                <a   [routerLink]="['/sign-in']" class=""> Login</a>
                            </p>
                        </h6>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <app-foo-ter></app-foo-ter>
</div>
<app-loading *ngIf="loading"></app-loading>

