
  

.logo-register-page{

font-size: 30px;


img{
    padding-bottom: 5%;  
}

.dots{
    text-align:center;
    //@at-root:10px;
    .step{
        height: 12px;
        width: 12px;
     margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
        &.active{
            opacity: 1;
        }
        &.finish{
          //  opacity: 1;
            background-color: rgb(219, 101, 46);
        }
    }

}
}

.pull-left{
    h6{
        p{
            a{
                text-decoration: underline;
                font-size: medium;
            }
        }
    }
}

.link{
    font-size: 15px;
    width : 100%;
    background-color: white;
    color: orange;

}
.step-title{
 font-size: 18px !important;
 font-weight: bold;
 text-align: left !important;
 text-decoration: underline;
}

.footer{
    margin-top:-50px !important;
}
.btn:hover{
}

.scrollable-bg{
  //  margin-top: 1%;
   height: 85vh !important;
    max-height: 85vh !important;
    overflow-y: scroll;

}

.scrollable-bg::-webkit-scrollbar {
    display: none;
}

.divider{
    height : 10vh;
}

