@import '../../../assets/sass/variables.scss';

.about {
  .fa {
    margin-right: 2%;
    color: $gray-600;
  }

  .fas {
    margin-right: 2%;
    color: $gray-600;
  }

}

.photo-container {
  overflow: visible !important;
  position: relative;

  img {
    height: 100%;
    width: 100%;

    border-radius: 50%;

  }

  i {
    position: absolute;
    top: 80px;
    right: -6px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: $gray-700;
    //box-shadow: 0 0 8px 3px #B8B8B8;
  }
}


.blod {
  font-weight: bold;
}

.card-right-side {
  display: flex;
  flex-direction: column;

  //justify-content: center;
  //margin-right: 1%;
  &:hover {
    background-color: $gray-300 !important;
  }


  .progress-circle-container {
    margin-top: 20px;
  }
}

.line {
  //width :;
  color: $gray-300;
  height: 50px;
  width: 50px;
}

.card {
  border-radius: 1rem !important;
}

.card-body {
  margin-left: 5%;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;

  .btn-primary {
    margin-left: -14px !important;
  }
}


.bs-stepper-circle {
  background-color: $red !important;
}

.badge {
  margin-right: 9px !important;
  font-size: 9px !important;
  margin-left: -3px !important;
}

.smaller {
  font-size: 10px;
  //color: $green;
}

.date {
  margin-left: -12px;
}

.pagination-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.btn-tracking {
  margin-top: -10px;
  padding: 8px !important;
}

.bs-stepper-label {
  width: 100px;
}

.card-row {
  //height: 200px;
}

.card {
  //  height: 35%;
}
.form-group{
  display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}
.forms-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.password {
  margin-top: 15px;
}

.form {
  margin-top: 65px;
}

.input-file {
  display: none;
}

.input-pic {
  display: none;
}

.fa-edit {
  cursor: pointer;
}

.input-file-container {
  padding: 5px;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // border : solid 1px $gray-300;
  align-items: center;
  border-radius: 30px;
  color: #2c2c2c;
}

.cin-preview {
  border-radius: 20px;
  width: 300px;
  height: 160px;
}

.upload-btn {
  margin-left: 20px;
}

.btn-update {
  width: 170px;
  height: 50px;
  padding-top: 18px;
}

.disabled{
  color : $gray-500 !important;
}

.link{
  cursor: pointer;
font-weight: bold;
color : $gray-700 !important;
text-decoration: underline;
}


.row-links{
  margin-left: 5px;
  margin-right: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}