<div class="wrapper">
  <div class="page-header " filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="{{picture}}" alt="">
        

        </div>
      
        <h3 class="title" >{{user.name}}</h3>
      
        <div class="content">
          <div class=" row">
            
            <div class="col-6"><i class="fa fa-envelope"></i>{{user.email}} </div>
            <div class="col-6"> <i class="fa fa-phone" aria-hidden="true"></i> {{user.phoneNumber}}</div>
          </div>

        </div>
      </div>  
      
     
    </div>
 <div class="section"></div>


  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              DelSOS
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>

        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">DelSOS TEAM</a>.
      </div>
    </div>
  </footer>
</div>

