<button class="btn btn-primary btn-round btn-lg" (click)="open(classic,'' , '')">
  Change Password
</button>
<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="d('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title title-up">Change your password</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="updatePasswordForm">
      <div class="form-group" [ngClass]="{ 'has-danger' : f.oldpassword.invalid && f.oldpassword.touched }">
        <label>Old Password</label>
        <input formControlName="oldpassword" type="Password" name="oldpassword" placeholder="old password"
          class="form-control" [ngClass]="{ 'form-control-danger' : f.oldpassword.invalid && f.oldpassword.touched }">
      </div>
      <div class="text-danger" *ngIf="f.oldpassword.errors?.required && f.oldpassword.touched">
        This field is required
      </div>
      <div class="text-danger" *ngIf="f.oldpassword.errors?.minLength && f.oldpassword.touched">
        Your password should has at least 8 characters
      </div>
      <div class="form-group has-danger" [ngClass]="{ 'has-danger' : f.newpassword.invalid && f.newpassword.touched }">
        <label>New Password</label>
        <input type="Password" formControlName="newpassword" name="newpassword" placeholder="new password"
          class="form-control " [ngClass]="{ 'form-control-danger' : f.newpassword.invalid && f.newpassword.touched }">
      </div>
      <span class="text-danger" *ngIf="f.newpassword.errors?.required && f.newpassword.touched">
        This field is required
      </span>
      <span class="text-danger" *ngIf="f.newpassword.errors?.minLength && f.newpassword.touched">
        Your password should has at least 8 characters
      </span>
      <div class="form-group" [ngClass]="{ 'has-danger' : f.confirmpassword.invalid && f.confirmpassword.touched }">
        <label>Confirm Password</label>
        <input type="Password" formControlName="confirmpassword" name="confirmpassword"
        [ngClass]="{ 'form-control-danger' : f.confirmpassword.invalid && f.confirmpassword.touched }"
        placeholder="confirm password"
          class="form-control">
      </div>
   
      <div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="text-danger">
        <div *ngIf="f.confirmpassword.errors?.required">Password is required.</div>
        <div *ngIf="f.confirmpassword.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
    </div>
    </form>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    <button type="submit" class="btn btn-primary"
    (click)="onSubmit(c)"
    >Submit</button>
  </div>
</ng-template>